.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    width: 100%; /*new*/
    border-bottom: 1px solid #ddd; /*new*/
    background-color: #222222;
    color: #f2f2f2;
}

.headerContainer {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    margin-right: 12px;
    margin-left: 12px;
    justify-content: space-between; /* Ensure spacing between items */
    padding: 0 12px; /* Adjust padding to control spacing */
}

.headerTitleContainer {
    display: flex;
    align-items: center;
    margin-right: 40px;
    color: #f2f2f2;
    text-decoration: none;
    justify-content: flex-start; /* Align content to the left */
}

.headerLogo {
    height: 40px;
}

.headerTitle {
    margin-left: 12px;
    font-weight: 600;
}

.headerNavList {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.headerNavPageLink {
    color: #f2f2f2;
    text-decoration: none;
    opacity: 0.75;

    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    transition-duration: 500ms;
    transition-property: opacity;
}

.headerNavPageLink:hover {
    opacity: 1;
}

.headerNavPageLinkActive {
    color: #f2f2f2;
    text-decoration: none;
}

.headerNavLeftMargin {
    margin-left: 20px;
}

.headerRightText {
    font-weight: normal;
    margin-left: 40px;
}

.microsoftLogo {
    height: 23px;
    font-weight: 600;
}

.githubLogo {
    height: 20px;
}

.titleContainer {
    flex-grow: 1; /* Allows the title container to take up remaining space */
    text-align: center;
}

/* Center nav links */
.navContainer {
    display: flex;
    justify-content: center; /* Center the nav links */
    flex-grow: 1; /* Allow nav container to grow */
}

/* Ensure login button is rightmost */
.headerContainer > .LoginButton {
    margin-left: auto; /* Pushes the login button to the right */
}